extends ../layouts/layout

block content 
    .container(class="login")
        form(action="/auth/login", method="POST", class="d-flex align-items-center justify-content-center flex-column")
            img.mb-4(src='/images/logo.svg', width="90", height="90", alt='signin')
            h3.mb-3.font-weight-normal Connect to TDTU Network

            if loginInput
                input#email.form-control.mb-3(type='email', placeholder="Email", name='email', autofocus, required, value=loginInput.email)
                input#password.form-control.mb-3(type='password', placeholder="Password", name='password', required, value=loginInput.password)
            else 
                input#email.form-control.mb-3(type='email', placeholder="Email", name='email', autofocus, required)
                input#password.form-control.mb-3(type='password', placeholder="Password", name='password', required)

            if error
                p(class="mb-3 text-danger") #{error}

            button.btn.btn-primary.btn-lg.btn-block Log in
            p(class="my-4 text-center") 
                span(class="px-2") For student
            a.btn.btn-danger(role="button", href="#", class="d-flex align-items-center justify-content-center").btn-lg.btn-circle
                i(class="fab fa-google-plus-g")
