#EditManagementModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Edit Staff Management
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                form 
                    if user
                        .form-group.row#facultyClassRow
                            label.col-md-1.col-form-label(for='editFaculty') Faculty
                            .col-md-5
                                input(class="form-control", type="text", name="editFaculty", id="editFaculty")
                            label.col-md-1.col-form-label(for='editClass') Class
                            .col-md-5
                                input(class="form-control", type="text", name="editClass", id="editClass")
                        .form-group.row
                            label.col-md-1.col-form-label Email
                            .col-md-5
                                input(class="form-control", type="text", name="editEmail", id="editEmail", disabled)
                            label.col-md-1.col-form-label(for='editPhone') Phone
                            .col-md-5
                                input(class="form-control", type="text", name="editPhone", id="editPhone")
                        .form-group.row
                            label.col-md-1.col-form-label(for='editName') Name
                            .col-md-5
                                input(class="form-control", type="text", name="editName", id="editName")
                            label.col-md-2.col-form-label(for='editPassword') Re-password
                            .col-md-4
                                input(class="form-control", type="password", name="editPassword", id="editPassword", placeholder="Enter new password...")
                        .form-group.row#workplaceRow
                            label.col-md-2.col-form-label(for='editWorkplace') Workplace
                            .col-md-10
                                select(name="editWorkplace", id="editWorkplace", class="form-control") 
                                    if listOfficeFaculty 
                                        each item, index in listOfficeFaculty 
                                            option(value=item.name)= item.name
                        .form-group.row#permissionRow
                            label.col-md-2.col-form-label(for='editPermission') Permission (Multiple)
                            .col-md-10
                                select(name="editPermission", id="editPermission", class="form-control", multiple) 

                                    if listOfficeFaculty 
                                        each item, index in listOfficeFaculty 
                                            option(value=item.name)= item.name
                        .form-group.row
                            label(for="editAvatar", class="col-form-label col-md-1") Avatar
                            div(class="col-md-11")
                                input(accept="image/*", type="file", name="editAvatar", id="editAvatar", class="form-control", required) 
                        .form-group.row
                            .col-md-12.justify-content-center.d-flex
                                    p(id="editManagementMessage")
                            .col-md-12.justify-content-end.d-flex
                                button.btn.btn-primary(type='button', id='btnUpdateManagement', disabled='disabled') Update
                                button.btn.btn-default.ml-3(type='button', data-dismiss='modal') Close
