#EditNotifModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Edit notification
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                form 
                    if user 
                        .form-group.row
                            label.col-md-12.col-form-label(for='editTitle') Title
                            .col-md-12
                                input(class="form-control", type="text", name="editTitle", id="editTitle")
                        .form-group.row
                            label.col-md-12.col-form-label(for='editContent') Content
                            .col-md-12
                                textarea(class="form-control text-justify", id="editContent", rows="6") HSSV sẽ trở lại học tập trung tại Trường từ ngày 8/3/2021 theo thời khóa biểu của Nhà trường. Trước khi trở lại Trường học tập trung, HSSV thực hiện khai báo lịch trình di chuyển trên hệ thống thông tin sinh viên từ ngày 26/02/2021. HSSV chủ động thực hiện các biện pháp phòng, chống dịch bệnh COVID-19 theo khuyến cáo của Bộ Y tế và các cơ quan chức năng; Thực hiện nghiêm túc “Thông điệp 5K”: Khẩu trang – Khử khuẩn – Khoảng cách – Không tập trung – Khai báo y tế.
                        .form-group.row
                            label.col-md-12.col-form-label(for='editType') Type
                            .col-md-12
                                select(name="editType", id="editType", class="form-control") 
                                    option(value="") (Choose notification type)

                                    if user.permission 
                                        each item, index in user.permission 
                                            option(value=item.postName)= item.postName
                        .form-group.row
                            label.col-md-12.col-form-label(for='editAttachment') Attachment
                            .col-md-12.d-flex
                                input(accept="image/*,.pdf,.docx,.xlsx,.rar,.zip", type="file", id="editAttachment", class="form-control")
                                button(type="button", id="clearEditNotificationAttachment", class="btn btn-danger d-flex align-items-center justify-content-center")
                                    i(class="fas fa-backspace")
                        .form-group.row
                            div(class="col-md-12", id="uploadEditAttachment")
                        .form-group.row
                            .col-md-12.justify-content-center.d-flex
                                p(id="editNotificationMessage")
                            .col-md-12.justify-content-end.d-flex
                                button.btn.btn-primary(type='button', id='btnUpdateNotif', disabled='disabled') Update
                                button.btn.btn-default.ml-3(type='button', data-dismiss='modal') Close
