#NotifDetailsModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Notification Detail
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                form 
                    if user 
                        .col-md-12 
                            p(class="font-weight-bold text-justify", id="notifDetailTitle")
                        .col-md-12
                            p(class="text-justify", id="notifDetailContent")
                        .col-md-12
                            div(class="d-flex align-items-center")
                                p(class="mb-0 pr-2" id="notifDetailAttachment") Tải tập tin đính kèm:
                                a(class="font-bold text-danger", href="#", download, id="notifDetailDownload") tại đây
                            p
                        .col-md-12
                            p(class="font-italic text-secondary", id="notifDetailTypeDate")
                            p(class="font-italic text-secondary", id="notifDetailOwner")
                        .form-group.row
                            .col-md-12.justify-content-end.d-flex
                                button(class="btn btn-default ml-3", data-dismiss="modal") Close
