#postModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Create post
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                form 
                    if user 
                        .form-group.row.d-flex.align-items-center
                            if user.avatar === ""
                                img(class="mx-3", id="profileAvatar", width="40", height="40", src="/images/default_avatar.svg", alt="user avatar")
                            else
                                img(class="mx-3", id="profileAvatar", width="40", height="40", src=user.avatar, alt="user avatar")

                            span(id="owner") #{user.name}

                        .form-group.row 
                            .col-md-12 
                                textarea(placeholder='What are you thinking?', class="form-control", required, id="content", name="content", rows="5")
                        .form-group.row 
                            .col-md-12
                                div(class="addToPost d-flex justify-content-between align-items-center px-3 py-2")
                                    div(class="d-flex align-items-center")
                                        img(id="postImageReview")
                                        span(class="text-secondary", id="postImageName") Add to post
                                        i(class="ml-2 fas fa-backspace text-danger", id="postClearImage")

                                    div(class="addToPost__container")
                                        label(for="postImage" class="mb-0")
                                            i(class="fas fa-images text-success")
                                        input(onchange="postImageReviewHandler(this)", type="file", accept="image/*", name="postImage", id="postImage", class="d-none form-control")

                                        i(class="ml-4 mr-2 fab fa-youtube text-danger", id="youtubeURLInputButton")

                        .form-group.row#youtubeURLInput
                            .col-md-12
                                input(class="form-control", autocomplete="off", type="text", name="video", id="video", placeholder="Put your Youtube URL here")

                        .form-group.row.mb-0
                            .col-md-12
                                div(id="uploadPost")
                                p(id="errorPost" class="text-center text-danger")
                        .form-group.row
                            .col-md-12.justify-content-end.d-flex
                                button(class="btn btn-success", id="modalPostButton") Post now!
                                button(class="btn btn-default ml-3", data-dismiss="modal") Close
