#viewBiggerPostImageModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                img(class="w-100", id="viewBiggerPostImage")