doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- meta(name="google-signin-client_id" content="1041474457742-c79qab5j7ctbig74p1qps8eejocqm2ve.apps.googleusercontent.com")
        meta(name="google-signin-client_id" content="1041474457742-6urjpvuse8o9rr453vjiq689k2vk0iak.apps.googleusercontent.com")
        title TDTU Social Network
        link(rel='icon' sizes='16x16' href='/images/logo.svg')

        //- Bootstrap styles
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        
        //- App styles
        link(rel="stylesheet", href="/stylesheets/style.css")
    body 
        //- Content
        block content

        //- Alert container
        include ../alerts/alertContainer

        //- Sign out modal
        include ../modals/signout

        //- Post modal
        include ../modals/post

        //- Edit post modal
        include ../modals/editPost

        //- Delete post modal
        include ../modals/deletePost

        //- View bigger post image
        include ../modals/viewBiggerPostImage

        //- Edit comment modal
        include ../modals/editComment

        //- Delete comment modal
        include ../modals/deleteComment

        //- Info modal
        include ../modals/info

        //- Notification modal
        include ../modals/notifDetails
        
        //- Edit notification modal
        include ../modals/editNotif
        
        //- Edit user management modal
        include ../modals/editManagement
        
        //- Bootstrap, jQuery, Socket.io & Google sign in API scripts
        script(src="https://cdn.socket.io/3.1.1/socket.io.min.js") 
        script(src="https://apis.google.com/js/platform.js", async, defer)
        script(src="https://kit.fontawesome.com/a65ad4e019.js", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        
        //- App scripts
        script(src="/javascripts/main.js") 