extends ../layouts/dashboardLayout

block dashboardFunctions
    a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction dashboard__sideMenuFunction--active", href="/dashboard") Dashboard 

    if user.type === "Admin"
        a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard/users") Management

    if (user.type === "Admin" || user.type === "Staff")
        a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard/notification") Notification 

    a(class="px-3 py-2 dashboard__sideMenuFunction", href="javascript:void", id="logoutButton") Sign out

block dashboardContent
    div(class="row")
        div(class="col-md-8 pl-md-0")
            div(class="container-fluid")
                div(class="row", id="postArea")
                    div(class="dashboard__contentCommunication bg-white pt-3 pb-1 mb-4 col-md-12")
                        div(class="form-group row d-flex align-items-center")
                            div(class="col-md-1 col-sm-2 col-3")
                                if user.avatar === ""
                                    img(src="/images/default_avatar.svg", alt="user avatar", width="45", height="45")
                                else 
                                    img(src=user.avatar, alt="user avatar", width="45", height="45")
                            div(class="col-md-11 col-sm-10 col-9")
                                input(type="text", name="textThinking", id="textThinking", class="form-control", readonly, autocomplete="off", placeholder="What are you thinking?")
                        hr
                        div(class="m-3")
                            div(class="btn-postStatus form-group row")
                                div(class="col-md-4 col-sm-4 col-4 text-center p-2")
                                    img(src="/images/pic_icon.png", alt="pic-icon", width="35", height="35")
                                    span Photos/Videos
                                div(class="col-md-4 col-sm-4 col-4 text-center p-2") 
                                    img(src="/images/tag_icon.png", alt="pic-icon", width="35", height="35")
                                    span Tag friends
                                div(class="col-md-4 col-sm-4 col-4 text-center p-2")
                                    img(src="/images/feel_icon.png", alt="pic-icon", width="35", height="35")
                                    span Feeling/Activity

                    //- Posts here...
                    
        div(class="col-md-4 pr-md-0")
            div(class="container-fluid sticky-top")
                div(class="row")
                    div(class="dashboard__contentListNotifications bg-white pt-3 pb-1 mb-4 col-md-12")
                        //- Notifications here