extends ../layouts/dashboardLayout

block dashboardFunctions
    a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard") Dashboard 

    if user.type === "Admin"
        a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard/users") Management
        
    if (user.type === "Admin" || user.type === "Staff")
        a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction dashboard__sideMenuFunction--active", href="/dashboard/notification") Notification 
   
    a(class="px-3 py-2 dashboard__sideMenuFunction", href="javascript:void", id="logoutButton") Sign out

block dashboardContent
    div(class="dashboard__contentUsers row")
        if user.type === "Admin" || user.type === "Staff"
            div(class="container dashboard__contentNotificationForm bg-white col-md-12")
                form(class="p-3")
                    h3(class="mb-4 text-primary text-center") Create Notification

                    div(class="form-group row")
                        label(for="notificationTitle", class="col-form-label col-md-1") Title
                        div(class="col-md-11")
                            input(type="text", name="notificationTitle", id="notificationTitle", class="form-control") 
                        
                    div(class="form-group row")
                        label(for="notificationContent", class="col-form-label col-md-1") Content
                        div(class="col-md-11")
                            textarea(class="form-control", name="notificationContent", id="notificationContent", rows="9")

                    div(class="form-group row")
                        label(for="notificationType", class="col-form-label col-md-1") Type
                        div(class="col-md-5")
                            select(name="notificationType", id="notificationType", class="form-control") 
                                option(value="") (Choose notification type)

                                if user.permission 
                                    each item, index in user.permission 
                                        option(value=item.postName)= item.postName

                        label(for="notificationAttachment", class="col-form-label col-md-1") Attach
                        div(class="col-md-5")
                            input(accept="image/*,.pdf,.docx,.doc,.xls,.xlsx,.rar,.zip", type="file", name="notificationAttachment", id="notificationAttachment", class="form-control")

                    div(class="form-group row")
                        div(class="col-md-12", id="uploadAttachment")

                    div(class="form-group row")
                        div(class="col-md-12 d-flex align-items-center justify-content-end")
                            p(id="notificationMessage")
                            button(type="button", class="btn btn-success", id="addNewNotification") Submit

            div(class="container dashboard__contentNotificationList bg-white col-md-12 mt-4 px-0 table-responsive")
                table.table.table-hover
                    thead.thead
                        tr
                            th(scope='col') #
                            th(scope='col') Title
                            th(scope='col') Content
                            th(scope='col') Type
                            th(scope='col') Attachment
                            th(scope='col' style="width:100px;") Handler
                    tbody
                        tr
                            th(scope='row')= 2
                            td(class="td-justify") NỘP HỌC PHÍ HỌC KỲ 2/2020-2021
                            td(class="td-justify") 
                                p Sinh viên thực hiện quy trình đăng ký môn học và đóng học phí mới bắt đầu áp dụng cho HK2/2020-2021 trở về sau. Thời gian thu: ngày 25/01/2021 đến 03/02/2021. 2. Hình thức thanh toán: sinh viên đăng nhập vào "Cổng thông tin sinh viên" chọn mục "Học phí" chọn “HD Thanh toán học phí” để xem các hướng dẫn thanh toán học phí tại Ngân hàng Vietcombank..
                            td
                                p Phòng Tài Chính

                            td
                                p HocPhi.xlxs
                            td
                                div(class="col-md-4 text-center p-2 EditNotif")
                                    img(src="/images/edit_icon.png", width="28", height="28")
                                div(class="col-md-4 text-center p-2 DeleteNotif",onclick="alert('Clicked Delete')")
                                    img(src="/images/delete_icon.png", width="28", height="28")