extends ../layouts/dashboardLayout

block dashboardFunctions
    a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard") Dashboard 

    if user.type === "Admin"
        a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction", href="/dashboard/users") Management
        
    if (user.type === "Admin" || user.type === "Staff")
        a(class="mb-2 px-3 py-2 dashboard__sideMenuFunction dashboard__sideMenuFunction--active", href="/dashboard/notification") Notification 
   
    a(class="px-3 py-2 dashboard__sideMenuFunction", href="javascript:void", id="logoutButton") Sign out

block dashboardContent
    div(class="dashboard__contentUsers row")
        if user.type === "Admin" || user.type === "Staff"
            div(class="container dashboard__contentNotificationForm bg-white col-md-12")
                form(action="/dashboard/notification", method="POST", class="p-3", enctype="multipart/form-data")
                    h3(class="mb-4 text-primary text-center") Create Notification

                    div(class="form-group row")
                        label(for="tittle", class="col-form-label col-md-1") Tittle
                        div(class="col-md-5")
                            input(type="text", name="tittleNotification", id="tittleNotification", class="form-control", required) 
                        label(for="image", class="col-form-label col-md-1") Attachment
                        div(class="col-md-5")
                            input(accept="image/*", type="file", name="imageNotification", id="imageNotification", class="form-control")
                    div(class="form-group row")
                        label(for="content", class="col-form-label col-md-1") Content
                        div(class="col-md-11")
                            textarea(class="form-control", id="contentNotification", rows="4" , required)

                    div(class="form-group row")
                        label(for="type", class="col-form-label col-md-1") Type
                        div(class="col-md-5")
                            input(type="hidden", id="typeNotifHidden", value=typeNotif)
                            select(name="typeNotif", id="typeNotif", class="form-control", required) 
                                option(value="") (Choose Type Notification)
                                option(value="all") Tất cả
                                option(value="tuition") Học phí
                                option(value="schedule") Thời khóa biểu
                                option(value="exam") Lịch thi
                                option(value="academic") Học vụ
                                option(value="mos") Tin học MOS
                                option(value="apprenticeship") Tập sự nghề nghiệp
                                option(value="career") Học phần nghề nghiệp
                                option(value="graduate") Tốt nghiệp
                                option(value="homeroomActivity") Sinh hoạt chủ nhiệm
                                option(value="guide") Hướng dẫn
                                option(value="statuteRegulations") Qui chế qui định
                                option(value="others") Khác

                    div(class="form-group row")
                        div(class="col-md-12 d-flex align-items-center justify-content-end")
                            p(class="text-danger mb-0 mr-3") #{errorMessage}
                            button(type="submit", class="btn btn-success") Submit

            div(class="container dashboard__contentNotificationList bg-white col-md-12 mt-4 px-0 table-responsive")
                table.table.table-hover
                    thead.thead
                        tr
                            th(scope='col') #
                            th(scope='col') Tittles
                            th(scope='col') Contents
                            th(scope='col') Type
                            th(scope='col') Attachment
                            th(scope='col' style="width:100px;") Handler
                    tbody
                        tr
                            th(scope='row')= 1
                            td(class="td-justify") HỌC TẬP TRUNG TẠI TRƯỜNG TỪ NGÀY 08/03/2020
                            td(class="td-justify") 
                                p HSSV sẽ trở lại học tập trung tại Trường từ ngày 8/3/2021 theo thời khóa biểu của Nhà trường. Trước khi trở lại Trường học tập trung, HSSV thực hiện khai báo lịch trình di chuyển trên hệ thống thông tin sinh viên từ ngày 26/02/2021. HSSV chủ động thực hiện các biện pháp phòng, chống dịch bệnh COVID-19 theo khuyến cáo của Bộ Y tế và các cơ quan chức năng; Thực hiện nghiêm túc “Thông điệp 5K”: Khẩu trang – Khử khuẩn – Khoảng cách – Không tập trung – Khai báo y tế.
                            td
                                p Phòng Đại Học
                            td
                                p Ducati.jpg
                            td
                                div(class="col-md-4 text-center p-2 EditNotif")
                                    img(src="/images/edit_icon.png", width="30", height="30")
                                div(class="col-md-4 text-center p-2 DeleteNotif", onclick="alert('Clicked Delete')")
                                    img(src="/images/delete_icon.png", width="30", height="30")
                        tr
                            th(scope='row')= 2
                            td(class="td-justify") NỘP HỌC PHÍ HỌC KỲ 2/2020-2021
                            td(class="td-justify") 
                                p Sinh viên thực hiện quy trình đăng ký môn học và đóng học phí mới bắt đầu áp dụng cho HK2/2020-2021 trở về sau. Thời gian thu: ngày 25/01/2021 đến 03/02/2021. 2. Hình thức thanh toán: sinh viên đăng nhập vào "Cổng thông tin sinh viên" chọn mục "Học phí" chọn “HD Thanh toán học phí” để xem các hướng dẫn thanh toán học phí tại Ngân hàng Vietcombank..
                            td
                                p Phòng Tài Chính

                            td
                                p HocPhi.xlxs
                            td
                                div(class="col-md-4 text-center p-2 EditNotif")
                                    img(src="/images/edit_icon.png", width="28", height="28")
                                div(class="col-md-4 text-center p-2 DeleteNotif",onclick="alert('Clicked Delete')")
                                    img(src="/images/delete_icon.png", width="28", height="28")