/* Body */
body {
    background-color: #f1f2f5;
}

/*----------*/
/* Home page*/
/*----------*/
.bg-homebar {
    background-color: #402aa3;
}
.bg-homebar img {
    width: 50px;
    height: 50px;
}
.carousel {
    border-radius: 10px;
}
.carousel img {
    border-radius: 10px;
}
.nav-link {
    font-size: 20px;
}
.banner-image {
    background-color: #ededed;
    color: #848484;
    height: 320px;
    border-radius: 10px;
    font-size: 60px;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenthomepage {
    margin-top: 15px;
}
.imghome {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
}
.imghome img {
    width: 20%;
    height: 20%;
    margin: 30px;
}
.contenthomepage p {
    text-align: justify;
}
#textfocus {
    padding: 8px;
    margin-top: 30px;
    background-color: #402aa3;
    color: white;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.aboutus {
    margin: auto;
}
.carousel-item img {
    width: 100%;
    height: 600px;
}
.seemore {
    float: right;
}
#footer {
    text-align: center;
    letter-spacing: 2px;
    padding: 30px;
    background-color: #402aa3;
    color: white;
    margin-top: 50px;
}
.logoproducted {
    text-align: right;
    line-height: 0px;
}
#footer div img {
    width: 170px;
    height: 50px;
    margin-top: 30px;
    text-align: right;
}
.infofoot {
    text-align: left;
    line-height: 30px;
}
h1 {
    text-align: center;
}
h4 {
    margin-bottom: 20px;
    text-align: center;
}
@media only screen and (max-width: 560px) {
    .carousel-item img {
        width: 400px;
        height: 200px;
    }
    h1 {
        font-size: 170%;
    }
    h4 {
        font-size: 90%;
    }
    .imghome img {
        width: 50%;
        height: 50%;
        border-radius: 10px;
    }
    #textfocus h3 {
        font-size: 130%;
    }
}
@media only screen and (max-width: 480px) {
    .carousel-item img {
        width: 400px;
        height: 200px;
    }
    h4 {
        font-size: 85%;
    }
    .imghome img {
        width: 50%;
        height: 50%;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 376px) {
    .navbar-brand {
        font-size: 97%;
    }
    .carousel-item img {
        width: 400px;
        height: 200px;
    }
}

/*------------*/
/* Login page */
/*------------*/
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27rem;
}
.login > form > button {
    border-radius: 50px;
}
.imglogin {
    width: 90px;
    height: 90px;
}
.btn-circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
}
@media only screen and (max-width: 560px) {
    .login {
        max-width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .login {
        max-width: 100%;
    }
}

.line-style {
    width: 100%;
    border-bottom: 1px solid rgb(160, 160, 160);
    line-height: 0.1em;
    color: rgb(160, 160, 160);
}

.login > form > p > span {
    background: #f1f2f5;
}

/*-----------------*/
/* Dashboard pages */
/*-----------------*/
.dashboard__sideMenu {
    height: 100vh;
}
.dashboard__content {
    height: 100vh;
    background: #a86edb;
    background: -webkit-linear-gradient(to right, #5e25cf, #a86edb);
    background: linear-gradient(to right, #5e25cf, #a86edb);
}
.dashboard__sideMenu,
.dashboard__contentUsersForm,
.dashboard__contentUsersList {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
}
.dashboard__sideMenuInfo {
    font-weight: 600;
}
.dashboard__sideMenuInfo > img {
    border-radius: 50px;
    cursor: pointer;
}
.dashboard__sideMenuInfo > div:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}
.dashboard__sideMenuFunction {
    text-decoration: none !important;
    font-weight: 600 !important;
    color: black !important;
    border-radius: 6px;
}
.dashboard__sideMenuFunction:hover {
    background-color: #f1f2f5;
    transition: all 0.3s ease-in-out;
}
.dashboard__sideMenuFunction--active {
    background: #8e2de2;
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    color: white !important;
}
.dashboard__content {
    overflow: auto;
}
.dashboard__contentUsersForm,
.dashboard__contentUsersList,
.dashboard__contentUsersList > table > thead > tr > th {
    border-radius: 6px;
    border-top-width: 0;
}
.dashboard__contentUsersListHandler {
    cursor: pointer;
}
.dashboard__contentUsersListHandler:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.dashboard__contentUsersList img {
    border-radius: 50px;
}
@media only screen and (max-width: 1024px) {
    .btn-postStatus > div > span{
        font-size: 80%;
    }
}
@media only screen and (max-width: 560px) {
    .btn-postStatus > div > span{
        display: none;
    }
    
}
@media only screen and (max-width: 480px) {
    .dashboard__sideMenu {
        height: 54vh;
    }
    #textThinking{
        font-size: 80%;
    }
}
@media only screen and (max-width: 376px) {
    .dashboard__sideMenu {
        height: 60vh;
    }
    #textThinking{
        font-size: 70%;
    }
}

/*-----------*/
/* User info */
/*-----------*/
#infoForm span {
    cursor: pointer;
}
#avatarInfo {
    border-radius: 50px;
}

/*--------------------*/
/* Communication page */
/*--------------------*/
.dashboard__contentCommunication,
.dashboard__contentListNotifications {
    border-radius: 6px;
    border-top-width: 0;
    width: 100%;
}
.btn-postStatus > div:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
    background: #8e2de2;
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    color: white !important;
    border-radius: 8px;
}
.btn-postStatus > div > span {
    margin-left: 15px;
}
hr {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
.td-justify {
    text-align: justify;
}
.dashboard__contentCommunication > div > div > img,
.dashboard__contentCommunication > div > div > div > img{
    border-radius: 50%;
}

/*--------------------*/
/* Notification pages */
/*--------------------*/
.dashboard__contentNotificationForm,
.dashboard__contentNotificationList,
.dashboard__contentNotificationList > table > thead > tr > th {
    border-radius: 6px;
    border-top-width: 0;
}
.dashboard__contentNotificationListHandler {
    cursor: pointer;
}
.dashboard__contentNotificationListHandler:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.dashboard__contentNotificationList img {
    border-radius: 50px;
}
.imageNotification > div {
    width: 100px;
    height: 100px;
}
