/* Body */
body {
    background-color: #f1f2f5;
}

/* Login page */
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27rem;
}

.login > form > button {
    border-radius: 50px;
}

.btn-circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
}

.login > form > p {
    width: 100%;
    border-bottom: 1px solid rgb(160, 160, 160);
    line-height: 0.1em;
    color: rgb(160, 160, 160);
}

.login > form > p > span {
    background: #f1f2f5;
}

/* Dashboard pages */
.dashboard__sideMenu,
.dashboard__content {
    height: 100vh;
}

.dashboard__content {
    background: #a86edb;
    background: -webkit-linear-gradient(to right, #5e25cf, #a86edb);
    background: linear-gradient(to right, #5e25cf, #a86edb);
}

.dashboard__sideMenu,
.dashboard__contentUsersForm,
.dashboard__contentUsersList {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
}

.dashboard__sideMenuInfo {
    font-weight: 600;
}

.dashboard__sideMenuInfo > div:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.dashboard__sideMenuFunction {
    text-decoration: none !important;
    font-weight: 600 !important;
    color: black !important;
    border-radius: 6px;
}

.dashboard__sideMenuFunction:hover {
    background-color: #f1f2f5;
    transition: all 0.3s ease-in-out;
}

.dashboard__sideMenuFunction--active {
    background: #8e2de2;
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    color: white !important;
}

.dashboard__content {
    overflow: auto;
}

.dashboard__contentUsersForm,
.dashboard__contentUsersList,
.dashboard__contentUsersList > table > thead > tr > th {
    border-radius: 6px;
    border-top-width: 0;
}

.dashboard__contentUsersListHandler {
    cursor: pointer;
}

.dashboard__contentUsersListHandler:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.dashboard__contentUsersList img {
    border-radius: 50px;
}
